<%= form_with(model: quiz_option) do |form| %>
  <% if quiz_option.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz_option.errors.count, "error") %> prohibited this quiz_option from being saved:</h2>

      <ul>
        <% quiz_option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quiz_id, style: "display: block" %>
    <%= form.text_field :quiz_id %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :correct, style: "display: block" %>
    <%= form.check_box :correct %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
