<div id="<%= dom_id rating %>">
  <p>
    <strong>Course:</strong>
    <%= rating.course_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= rating.stars %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= rating.review %>
  </p>

</div>
