<div id="<%= dom_id enrollment %>">
  <p>
    <strong>User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= enrollment.progress %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= enrollment.paid %>
  </p>

</div>
