<div id="<%= dom_id payment %>">
  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= payment.course_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
