<div class="card mb-3">
  <% if course.thumbnail.attached? %>
    <img src="<%= url_for(course.thumbnail) %>" class="card-img-top img-fluid" alt="Course Thumbnail">
  <% else %>
    <div class="text-muted text-center">No thumbnail available</div>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= course.title %></h5>
    <p class="card-text"><%= course.description %></p>
    <p class="fw-bold">Price: $<%= course.price %></p>
    <p class="text-muted">Created by: <%= course.user.email %></p>
  </div>
</div>
