<%= form_with(model: course, local: true, html: { multipart: true }) do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :price, class: "form-label" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :thumbnail, class: "form-label" %>
    <%= f.file_field :thumbnail, class: "form-control" %>
  </div>

  <div class="d-flex gap-2">
    <%= f.submit "Save Course", class: "btn btn-primary" %>
    <%= link_to "Cancel", courses_path, class: "btn btn-secondary" %>
  </div>
<% end %>
